*
{box-sizing: border-box;}

html, body{
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #202021;
}

h2 {
  font-family: 'Georgia', serif;
  font-size: 3rem;
  text-align: center;
  letter-spacing: .3rem;
}
.form {
  border-top: 5px solid #E82E44;
  margin: 0 auto;
  width: 50vw;
  padding-top: 15px;
  margin-bottom: 20px;
  margin-top: -25px;
}
label {
  font-size: 1.25rem;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 12px;
  margin: 5px 0 22px 0;
  background: #302F2F;
  color: white;
  font-size: 1.1rem;
  border: 2px solid transparent;
}
input:focus {
  border-color: #2966BC;
}
.btnArea {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.signupBtn {
  width: 150px;
  height: 50px;
  background: #2966BC;
  font-size: 1.3rem;
  color: white;
  border: none;
  margin-bottom: 30px;
  display: block;
  transition: .2s;
}
.signupBtn:hover {
  background: #3087ff;
  transition: .2s;
  cursor: pointer;
}
#registerButtonId{
  margin: 0 auto;
}
#logoutButtonId{
  margin: 0 auto;
}
.loginBtn {
  width: 150px;
  height: 50px;
  background: #202021;
  border: 2px solid #E82E44;
  font-size: 1.3rem;
  color: #E82E44;
  display: block;
  margin-bottom: 30px;
  transition: .2s;
}
.loginBtn:hover {
  color: white;
  background-color: #E82E44;
  transition: .2s;
  cursor: pointer;
}
.error{
  background: rgba(244, 165, 39, .2);
  border: 2px solid #F4A527;
  padding: 10px 0 10px 20px;
  margin-bottom: 30px;
  font-size: 1.1rem;
  font-style: italic;
  color: #F4A527;
}

.My_jumbotron{
  background-color: #E82E44;
  color: white;
}

#homepage_list{
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  margin: auto;
}
.modal-header{
  background: #302F2F;
  border: none;
}
.modal-footer{
  background: #302F2F;
  border: none;
}
.modal-content{
  background-color: #202021;
  color: white;
}
.form-control{
  background-color: #302F2F;
  border: none;
  color: white;
}
.form-control:focus{
  background-color: #575656;
  color: white;
}
nav{
  background-color: #3b3b3c;
}
.nav-link{
  font-size: 1.4rem;
}